@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.slick-dots {
  height: 18px;
}

.slick-track {
  margin-left: 0px !important;
}
.slick-dots li button:before {
  background-color: #81219a;
  height: 12px !important;
  width: 12px !important;
  border-radius: 12px !important;
  text-indent: -9999px;
  overflow: hidden;
}

.tab-header-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.tab-header-container::-webkit-scrollbar {
  display: none;
}

select.custom-select {
  content: '>';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  pointer-events: none;
}

.custom-input::placeholder {
  color: #5e217ccc;
}
